<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UICTFontTextStyleCaption1</key>
	<dict>
		<key>fontSize</key>
		<integer>20</integer>
		<key>fontName</key>
		<string>SourceSansPro-Regular</string>
	</dict>
	<key>UICTFontTextStyleCaption2</key>
	<dict>
		<key>fontSize</key>
		<integer>16</integer>
		<key>fontName</key>
		<string>SourceSansPro-SemiBold</string>
	</dict>
	<key>UICTFontTextStyleCallout</key>
	<dict>
		<key>fontSize</key>
		<integer>16</integer>
		<key>fontName</key>
		<string>SourceSansPro-SemiBold</string>
	</dict>
	<key>UICTFontTextStyleTitle0</key>
	<dict>
		<key>fontSize</key>
		<integer>60</integer>
		<key>fontName</key>
		<string>DMSerifDisplay-Regular</string>
	</dict>
	<key>UICTFontTextStyleTitle1</key>
	<dict>
		<key>fontSize</key>
		<integer>36</integer>
		<key>New item</key>
		<string></string>
		<key>fontName</key>
		<string>DMSerifDisplay-Regular</string>
	</dict>
	<key>UICTFontTextStyleTitle2</key>
	<dict>
		<key>fontSize</key>
		<integer>24</integer>
		<key>fontName</key>
		<string>DMSerifDisplay-Regular</string>
	</dict>
	<key>UICTFontTextStyleTitle3</key>
	<dict>
		<key>fontSize</key>
		<integer>20</integer>
		<key>fontName</key>
		<string>SourceSansPro-Bold</string>
	</dict>
	<key>UICTFontTextStyleHeadline</key>
	<dict>
		<key>fontSize</key>
		<integer>18</integer>
		<key>fontName</key>
		<string>SourceSansPro-Regular</string>
	</dict>
	<key>UICTFontTextStyleSubhead</key>
	<dict>
		<key>fontSize</key>
		<integer>12</integer>
		<key>fontName</key>
		<string>SourceSansPro-Bold</string>
	</dict>
	<key>UICTFontTextStyleBody</key>
	<dict>
		<key>fontSize</key>
		<integer>16</integer>
		<key>fontName</key>
		<string>SourceSansPro-Regular</string>
	</dict>
</dict>
</plist>
